<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# There is more to if

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [2]:
name = 'Robin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Sidekick!

In [4]:
name = 'Raj'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

The first if/ elif statement whose condition is met will be executed and all other statements will be skipped.
Else will execute when all the if and elif conditons are not met

# Asking questions

In [6]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [7]:
'apple' in fruits #checks if the string 'apple' is contained in the list of fruits, therefore this statement is True

True

In [8]:
'peach' in fruits #checks if the string "peach" is contained in the list of fruits, therefore this statement is False as the list Fruits does not
                    # have the string "peach" inside it

False

In [9]:
'peach' not in fruits #checks if the string 'peach' is NOT in the list of fruits. Since peach is not there, the statement is True

True

In [10]:
('apple' in fruits) and ('celery' in vegetables)  #this statements has the and operation. The output will be True if both
                                                    #conditions in the and statement are True
                                                    #if either one or both conditions are False, the output will be False

True

In [11]:
('apple' in fruits) or ('celery' in vegetables)  #This statement has the or operation. The output will be True if at least
                                                #one of the statements are True. Only if both statements are False will the output be False
                                                #Since

True

In [12]:
'app' in 'apple'    #this statement is checking if the 'app' string is contained within the 'apple' string. Therefore this is true

True

In [13]:
'apples' > 'oranges' #comparison will be done using ASCII table where string symbols are assigned to certain numbers.
                    #These numbers will be compared when using a the inequality sign between strings

False

Take note that the comparisons can only be done between values of the same data type. Therefore an int needs to be converted to
a string datatype in order to be comapred to another string.

## Asking Math questions

| Question/Condition     | Math Symbol | Python Symbols |
|------------------------|-------------|----------------|
| Equals?                | =           | ==             |
| Not equal?             | ≠           | !=             |
| Less than?             | <           | <              |
| Greater than?          | >           | >              |
| Less than or equal?    | ≤           | <=             |
| Greater than or equal? | ≥           | >=             |

Table of python math-related symbols

In [21]:
x = 7
x > 5 and x < 15
(x > 5) and (x < 15)
5 < x < 15    #all these syntax can work but the last line is the most neatest but the brackets in the 2nd statement increases
                #the readibility of the statement

True

# Python stores information in different formats or types

In [23]:
x = int(1.234)        #to store the number as an integer. The decimals will be lost
print(x, type(x))     ##integer type

1 <class 'int'>

In [24]:
x = str(1.234)        #to store the number as a string
print(x, type(x))     #decimals will not be lost

1.234 <class 'str'>

In [25]:
x = float(1.234)       #to store the number as a float, essentially a number with decimals
print(x, type(x))      # the decimals will not be dropped

1.234 <class 'float'>

In [26]:
x = complex(1.234)    # to store the number as a complex number
print(x, type(x))     # will add the imaginary componnent to the number

(1.234+0j) <class 'complex'>

In [27]:
#changing datatypes

x = '1.234'        # x is a string
print(x, type(x))

1.234 <class 'str'>

In [28]:
x = float(x)       # x is now a decimal number
print(x, type(x))

1.234 <class 'float'>

Changing the datatype is known as typecasting

# Never compare floats directly

## The Problem(roundoff errors)

In [29]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

In [30]:
f'{0.3:.17f}'  #shows that the 0.3 that is stored in the computer is not exactly 0.3
                # this would lead to roundoff errors where comparing 2 values that
                #have been computed in different manners will result in False

'0.29999999999999999'

## A solution

In [35]:
import numpy as np

In [33]:
eps = 1E-10    #create a very small number
abs(a*3-a3) < eps    #make sure the difference is small and isnignificant

True

In [36]:
np.isclose(a*3,a3)  #use numpy functions

True

# Combining English and variables

How to combine varbles values with strings using f-strings/string interpolation:

The"f" is put before the start of the string to indicate it will be an f string. The variable name will be placed within {} brackets in order to indicate where its value will
be displayed in the string output.

In [37]:
name = "Batman"  #"Batman" stored inside name
print(f"Hello {name}!")  #f string will replace {name} with the value stored inside

Hello Batman!

In [40]:
name = "Batman"
print(f"Hello {name.upper()}!")   #same situation but with .upper() to capitalise the 
                                    #letters of batman

Hello BATMAN!

In [41]:
x = 10
print(f"The value of {x} squared is {x**2}!")   #outputing numbers within the f-string

The value of 10 squared is 100!

## Formatting text with f-strings:

In [44]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [45]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

        Bruce Wayne is Batman.

In [46]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

    Bruce Wayne is Batman.

In [47]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

In [48]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

The f in .6f is used to tell the f-string to output te numer in decimal notation

In [49]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

the e in .6e is used to tell the f-string to output the number in scientific notation

## Structure of f-strings

f-string formatting is represented as shown :  ``` {X:>0Y.ZW} ```
Each letter represents a part of the format that can be manipulated.
How each component of the format can be changed is shown below.

| Letter | Action             | Possible Options                        |
|--------|--------------------|-----------------------------------------|
| X      | Variable to format | Can be a number or a string             |
| >      | Alignment          | • < (Left justified)                    |
|        |                    | • > (Right justified)                   |
|        |                    | • ^ (Centre justified)                  |
| 0      | Use 0’s to pad the spaces | You can use other characters like a space |
| Y      | Total number of characters |                                       |
| Z      | Number of decimal places    |                                       |
| W      | Specifies the type of variable. | • f (float)                       |
|        |                                | • d (integer)                      |
|        |                                | • s (string)                       |
|        |                                | • g (Asks Python to figure out)    |

# Escape sequences

These are special characters that can break a line or add a tab. An example is shown below

In [99]:
print('Line 1\n\tLine 2\n\t\tLine 3')   #an example of the use of escape sequences

Line 1
	Line 2
		Line 3

The \n is to break line and \t represents adding a tab space. They will not be visible in the output but are present in the code>

Additional useful escape sequences are shown below:

| Escape Sequence | Meaning        |
|-----------------|----------------|
| ```\'```              | Single quote   |
| ```\\```              | Backslash      |
| ```\n```              | Newline        |
| ```\t```              | Horizontal Tab |

Using escaped ```\'``` makes things simpler as now we do not need to think about whether we should use ```'``` or ```"``` in the string and instead can ecape the ```'``` in the string.
An example is shown below:

In [57]:
print('You\'re twenty years old.') #only using single inverted commas but escaped the one 
                                   #within the string

You're twenty years old.

printing ```\```

In [67]:
print('A\\B\\C')

A\B\C

In [68]:
print('A\B\C')   #Wtithout escaping the backslashes.

A\B\C

Since ```\B``` and ```\C``` are not valid escape sequences, they are still printed as is

In [70]:
print('A\nB\nC')  #\n is a valid escape sequence and creates a linebreak

A
B
C

In [72]:
print('A\tB\tC')  #\t is a valid escape sequence and creates a tab space

A	B	C

# Computers read = from Right to Left!

In [75]:
x = 40
y = x + 2
print(y)

42

1. the value  40 is first assigned to x
2. the variable y is then assigned the sum of the value of x and 2
3. The value of y is printed

In [ ]:
x = y = 10

1. y will first be assigned the value 10
2. x will then be assigned the value of y
3. both x and y will be assigned with the value 10

# Shorter and Cleaner Code

Two examples of a common type of code will be shown. The second example is simply shorthand of the the first example to make the code cleaner.

In [100]:
#example 1
y = 40
y = y + 2
print(y)

42

In [101]:
#example 2
y = 40
y+=2  #this is effectively y = y+2
print(y)

42

Similar kinds of shorthand are shown below:

| Operation      | Long form  | Shorthand |
|----------------|------------|-----------|
| Addition       | y = y + 2  | y += 2    |
| Subtraction    | y = y - 2  | y -= 2    |
| Multiplication | y = y * 2  | y *= 2    |
| Division       | y = y / 2  | y /= 2    |

# Python can be a prima-donna.

Python and most programming languages are very anal about their syntax. If there are even tiny errors, python will throw a 'tantrum' (not complie) and 'complain'(show an error message). The type of issue with the code will be indicated by python, e.g. syntaxerror for missing ```:``` in if statements or type errors for trying to add a string to an integer.

Debugging is the practice of identifying the flaw and resolving the problem in the code. One good method is to use print statements to see the values or information that is being passed from variable to another. An example is shown below of how this can be done. However take the opportunity to debug as it allows one to practice this essential skill and even understand the nuances of the coding language that we are dealing with.

In [93]:
#Debugging example using print statement:
#flawed code that checks if number is even or odd:

number = 2
remainder = number/2

if remainder == 0:   
    print('even')
else:
    print('odd')

odd

in the above code it can be seen that it indicates 2 to be an odd number, which is clearly wrong. We will print the remainder variable to check what value is being assigned to it.
We know that remainder should be 0 when the number is even and nonzero when the number is odd, we will check if this is being demonstrated in the code uning the print statement

In [95]:
number = 2
remainder = number/2
print(remainder)   #debug statement
if remainder == 0:   
    print('even')
else:
    print('odd')

1.0
odd

The output is 1 with an even number. Therefore we can tell that the remainder is being calculated incorrectly. Now we can shift our attention to ```number/2```. Now we have spotted the mistake. The ```/``` outputs the quotient when we want the remainder. Therfore we must use ```%``` instead to get the remainder

In [102]:

number = 2
remainder = number%2
print(remainder) #remove after checking output
if remainder == 0:   
    print('even')
else:
    print('odd')

0
even

The remainder is now being computed correctly and the code is indicating correctly whether the number is even or odd. We can now remove the print statement we used to debug to prevent any unwanted outputs from showing up.

# Best Practices for Scientific Computing

Some pointers that are relevant at this stage by Wilson et al. (2014).

1. Write programs for people, not computers.
2. Optimise software only after it works correctly
3. Document design and purpose, not mechanics.
4. Collaborate

Refernceing point 1:
If code is written in a haphazard way, it will become very unredable and make no sense to others or even your future self. This would prevent collaboration or even prevent you from being able to continue working on your code in the future. Always make sure to consciously create readable code for you and others to understand. 

Referencing point 4:
By creating readable code we can open ourselve to collaboration so we can get feedback from others regarding our code. This allows us to further understand or optimize our code.

Referencing point 2:
Try to first get a working piece of code instead of writing the perfect code for the situation. Trying to get the perfect solution on the first try is extremely time consuming and rigorous. Instead think of optimising the code at a later stage after a solution has been found.

# Looking for help

In [98]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

one could use the ```help()``` function to understand how certain functions work in python although it is not recommended. However without experience, it can be tough to understand the documentation. Online resources like Stack overflow, google or Chatgpt can give more understandable answers.

## References

Wilson, Greg, D. A. Aruliah, C. Titus Brown, Neil P. Chue Hong, Matt Davis, Richard T. Guy, Steven H. D. Haddock, et al. 2014. “Best Practices for Scientific Computing.” PLOS Biology 12 (1): e1001745. https://doi.org/10.1371/journal.pbio.1001745.

## Footnotes